<div class = "center">
  <p><%= image_tag 'rails_logo.svg', width:300, height: 300 %></p>
   
  <h1>体重管理アプリ</h1>
  <p>このアプリでは、2日分の体重を入力すると、増減に応じて異なる画像が表示されます!</p>

  <%= link_to '開始する', weights_new_path %>
</div>

